*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.design{
   position: relative;
   left: 70px;
   top: 18px;
   color: white;
   font-size: 30px;
}

.col-md-4{
   position: relative;
   top: 10px;
   padding: 1%;
}
.col-md-6{
    position: relative;
    top: 17px;
}